include ../../mixins/mixins.pug

mixin header-nav__item(title='Пункт меню')
    li.header-nav__item
        a&attributes(attributes)= title

.header-top
    .container
        .header-top-two-half
            div
                .logo-wrapper
                    a(href="index.html").logo
                        img(src="assets/img/logo-niva.png", alt="")
                    span.logo-description Еженедельная газета пермского района
            div
                nav.header-nav
                    ul
                        +header-nav__item('Новости')(href='news.html')
                        +header-nav__item('Архив')(href='archive.html')
                        +header-nav__item('Статьи')(href='news.html')
                        +header-nav__item('Губерния')(href='typical.html')
                        +header-nav__item('Впн-2020')(href='news.html')
                        +header-nav__item('Рекламодателю')(href='contacts.html')
                form(action="").header-search.js--header-search
                    .header-search__input-wrapper
                        input.header-search__input(type="text", name="", placeholder="Я ищу...")
                    button.header-search__button.js--header-search-button
                        <svg xmlns="http://www.w3.org/2000/svg" width="19.155" height="19.16" viewBox="0 0 19.155 19.16"><path d="M23.43,22.266,18.1,16.889a7.592,7.592,0,1,0-1.152,1.167L22.243,23.4a.82.82,0,0,0,1.157.03A.825.825,0,0,0,23.43,22.266ZM12.137,18.121a5.995,5.995,0,1,1,4.24-1.756A5.958,5.958,0,0,1,12.137,18.121Z" transform="translate(-4.5 -4.493)" fill="#fff"/></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21.576" viewBox="0 0 21 21.576">
                            <path d="M55.593,573.046a2.09,2.09,0,0,1-.187.292q-3.669,3.807-7.343,7.609c-.387.4-.605.406-1.012.014l-1.689-1.629a.544.544,0,0,1-.013-.91l7.482-7.749c.062-.064.122-.13.195-.206-.078-.084-.143-.156-.211-.227q-3.723-3.858-7.448-7.714c-.349-.362-.347-.6.012-.944q.86-.833,1.724-1.665a.538.538,0,0,1,.906.013q3.683,3.81,7.363,7.625a3.015,3.015,0,0,1,.226.308c.128-.157.2-.258.284-.345q3.654-3.787,7.31-7.572c.339-.35.58-.357.924-.026q.862.832,1.725,1.664c.353.342.355.589.012.944l-7.468,7.729c-.062.064-.122.131-.2.212l1.467,1.52q3.081,3.19,6.162,6.379c.389.4.389.626-.011,1.014q-.842.817-1.688,1.631a.545.545,0,0,1-.909-.01q-3.682-3.812-7.361-7.625C55.776,573.3,55.719,573.21,55.593,573.046Z" transform="translate(-45.108 -559.677)" fill="#fff"/>
                        </svg>
.header-bottom
    .container
        .header-bottom-two-half
            div
                ul.header-info
                    li.header-info__item
                        <svg xmlns="http://www.w3.org/2000/svg" width="9.1" height="13" viewBox="0 0 9.1 13"><defs><style>.a{fill:#2d944b;}</style></defs><path class="a" d="M12.05,3A4.547,4.547,0,0,0,7.5,7.55c0,3.412,4.55,8.45,4.55,8.45s4.55-5.037,4.55-8.45A4.547,4.547,0,0,0,12.05,3Zm0,6.175A1.625,1.625,0,1,1,13.675,7.55,1.626,1.626,0,0,1,12.05,9.175Z" transform="translate(-7.5 -3)"/></svg>
                        span Пермь
                    li.header-info__item
                        <svg xmlns="http://www.w3.org/2000/svg" width="26.389" height="16.581" viewBox="0 0 26.389 16.581">
                            <g transform="translate(-471 -91.969)">
                                <path d="M492.978,100.711a2,2,0,0,0,.116.783.31.31,0,0,1-.1.387,5.967,5.967,0,0,0-1.052,1.264c-.147.232-.159.231-.3,0a4.742,4.742,0,0,1,.325-5.4,5.046,5.046,0,0,1,6.641-1.111.238.238,0,0,1,.167.15.224.224,0,0,1-.193.144,6.989,6.989,0,0,0-1.417.928.411.411,0,0,1-.428.087,2.938,2.938,0,0,0-3.254,1.129,2.644,2.644,0,0,0-.505,1.639Zm-4.562.964a1.961,1.961,0,0,1-1.028-.334.754.754,0,0,1-.01-1.313,2.04,2.04,0,0,1,2.3.045.739.739,0,0,1,.007,1.211,1.983,1.983,0,0,1-1.269.391Zm3.528-5.625a.754.754,0,0,1-.906.773,2,2,0,0,1-1.649-1.624.775.775,0,0,1,.769-.876A1.936,1.936,0,0,1,491.944,96.05Zm4.962-2.6a1.7,1.7,0,0,1-.359,1.139.785.785,0,0,1-1.29,0,1.932,1.932,0,0,1-.048-2.184.8.8,0,0,1,1.4.019,1.651,1.651,0,0,1,.3,1.026Zm2.955,2.594a1.894,1.894,0,0,1,1.955-1.7.731.731,0,0,1,.6.8,1.682,1.682,0,0,1-.1.433.757.757,0,0,1-.852.6,4.081,4.081,0,0,0-1.233.168C499.925,96.419,499.862,96.367,499.861,96.044Zm-9.653,11a.777.777,0,0,1-.81-.924,1.994,1.994,0,0,1,1.6-1.565c.243-.039.281,0,.217.247A5.575,5.575,0,0,0,491,106.52a.342.342,0,0,1-.252.39,2.159,2.159,0,0,1-.544.13Z" transform="translate(-16 -0.033)" fill="#ffa81f" fill-rule="evenodd"/>
                                <path d="M496.67,111a5.331,5.331,0,0,1-2.069-.748,4.744,4.744,0,0,1-2.3-4.121,4.908,4.908,0,0,1,4.174-4.816,5.056,5.056,0,0,1,3.384.629.877.877,0,0,0,.193.091,4.84,4.84,0,0,0-.918-.885,4.555,4.555,0,0,0-2.308-1c-.189-.018-.121-.116-.062-.208a5.757,5.757,0,0,1,1.4-1.488,6.1,6.1,0,0,1,7.457.1,5.826,5.826,0,0,1,1.928,2.74c.1.3.1.312-.216.357a3.566,3.566,0,0,0-2.533,1.639c-.021.031-.036.066-.063.116a.275.275,0,0,0,.083-.01,4.874,4.874,0,0,1,2.253-.7,4,4,0,0,1,2.665.845c1.3.952,1.378,2.89,1.185,4.352a3.332,3.332,0,0,1-3.2,3.1H496.67Z" transform="translate(-13.613 -2.45)" fill="#4496d3" fill-rule="evenodd"/>
                            </g>
                        </svg>
                        span +15 &deg;C
                    li.header-info__item
                        ul.header-info__currencies
                            li
                                span &#36; 
                                | 69,12
                            li
                                span &euro; 
                                | 78,52
            div
                .header-soc
                    span.header-soc__text Присоединяйтесь к нам:
                    +soc-list