include mixins/mixins.pug

doctype html
html(lang="ru")
    head
        include ./templates/head/head.pug
    body
        header
            include ./templates/header/header.pug
        main
            include ./templates/header/post-header.pug
            .container
                .page-with-aside
                    div
                        +breadcrumb('Новости')
                        +page-headline('Covid 19 пандемия. Срочные новости Обсуждаем создание вакцины!')
                        .article-card-info.article-card-info_black.margin-bottom
                            time(datetime="2020-07-12 12:30").js--time 2020-07-08 12:30
                            span
                                <svg role="presentation" xmlns="http://www.w3.org/2000/svg" width="12.559" height="8.372" viewBox="0 0 12.559 8.372"><path d="M12.483,8.368A6.993,6.993,0,0,0,6.279,4.5a6.994,6.994,0,0,0-6.2,3.868A.705.705,0,0,0,.076,9a6.993,6.993,0,0,0,6.2,3.868A6.994,6.994,0,0,0,12.483,9,.705.705,0,0,0,12.483,8.368Zm-6.2,3.458a3.14,3.14,0,1,1,3.14-3.14A3.14,3.14,0,0,1,6.279,11.826Zm0-5.233a2.078,2.078,0,0,0-.552.083A1.043,1.043,0,0,1,4.269,8.134a2.088,2.088,0,1,0,2.01-1.541Z" transform="translate(0 -4.5)"/></svg>
                                | 457
                        .typical-content
                            +article-img('assets/img/article_01.jpg', 'Открытие аэропорта после эпидемии', 'Власти Прикамья пытаются ускорить выход из режима самоизоляции')
                            p В Прикамье 1802 участка для голосования. Они расположены в школах, колледжах, вузах, администрациях, библиотеках, домах культуры, сельских клубах, спортивных центрах и даже в детских садах. Специальные участки будут в стационарах больниц, домах престарелых, в СИЗО (осужденные временно лишены права голоса, но те, кто еще ждет суда в следственном изоляторе, могут проголосовать). Персональных приглашений, как на обычные выборы, в этот раз решили не делать. Все участки можно увидеть в списке по ссылке. К сожалению, районы в нём расположены не по алфавиту. Если вы хотите найти ваш участок, то проще сделать это через специальный сервис на сайте Центризбиркома. Только вводить адрес там надо очень подробно, иначе сервис не сработает, — Пермский край, город Пермь, район, а дальше уже улица, дом и квартира. Всё через запятую. Также адрес вашего участка есть в личном кабинете на сайте «Госуслуги». В Прикамье 1802 участка для голосования. Они расположены в школах, колледжах, вузах, администрациях, библиотеках, домах культуры, сельских клубах, спортивных центрах и даже в детских садах. Специальные участки будут в стационарах больниц, домах престарелых, в СИЗО (осужденные временно лишены права голоса, но те, кто еще ждет суда в следственном изоляторе, могут проголосовать). Персональных приглашений, как на обычные выборы, в этот раз решили не делать. Все участки можно увидеть в списке по ссылке. К сожалению, районы в нём расположены не по алфавиту. Если вы хотите найти ваш участок, то проще сделать это через специальный сервис на сайте Центризбиркома. Только вводить адрес там надо очень подробно, иначе сервис не сработает, — Пермский край, город Пермь, район, а дальше уже улица, дом и квартира. Всё через запятую.
                            hr
                            p В Прикамье 1802 участка для голосования. Они расположены в школах, колледжах, вузах, администрациях, библиотеках, домах культуры, сельских клубах, спортивных центрах и даже в детских садах. Специальные участки будут в стационарах больниц, домах престарелых, в СИЗО (осужденные временно лишены права голоса, но те, кто еще ждет суда в следственном изоляторе, могут проголосовать). Персональных приглашений, как на обычные выборы, в этот раз решили не делать. Все участки можно увидеть в списке по ссылке. К сожалению, районы в нём расположены не по алфавиту. Если вы хотите найти ваш участок, то проще сделать это через специальный сервис на сайте Центризбиркома. Только вводить адрес там надо очень подробно, иначе сервис не сработает, — Пермский край, город Пермь, район, а дальше уже улица, дом и квартира. Всё через запятую. Также адрес вашего участка есть в личном кабинете на сайте «Госуслуги». В Прикамье 1802 участка для голосования. Они расположены в школах, колледжах, вузах, администрациях, библиотеках, домах культуры, сельских клубах, спортивных центрах и даже в детских садах. Специальные участки будут в стационарах больниц, домах престарелых, в СИЗО (осужденные временно лишены права голоса, но те, кто еще ждет суда в следственном изоляторе, могут проголосовать). Персональных приглашений, как на обычные выборы, в этот раз решили не делать. Все участки можно увидеть в списке по ссылке. К сожалению, районы в нём расположены не по алфавиту. Если вы хотите найти ваш участок, то проще сделать это через специальный сервис на сайте Центризбиркома.
                            // Контейнер для видео, чтобы оно занимало всю ширину и было адаптивным
                            +article-img('assets/img/article_02.jpg', 'Открытие ЦУМа после эпидемии', 'Власти Прикамья пытаются ускорить выход из режима самоизоляции')
                            .video-wrap
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/4Kl2v_CZrxA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            p В Прикамье 1802 участка для голосования. Они расположены в школах, колледжах, вузах, администрациях, библиотеках, домах культуры, сельских клубах, спортивных центрах и даже в детских садах. Специальные участки будут в стационарах больниц, домах престарелых, в СИЗО (осужденные временно лишены права голоса, но те, кто еще ждет суда в следственном изоляторе, могут проголосовать). Персональных приглашений, как на обычные выборы, в этот раз решили не делать. Все участки можно увидеть в списке по ссылке. К сожалению, районы в нём расположены не по алфавиту. Если вы хотите найти ваш участок, то проще сделать это через специальный сервис на сайте Центризбиркома. Только вводить адрес там надо очень подробно, иначе сервис не сработает, — Пермский край, город Пермь, район, а дальше уже улица, дом и квартира. Всё через запятую. Также адрес вашего участка есть в личном кабинете на сайте «Госуслуги». В Прикамье 1802 участка для голосования. Они расположены в школах, колледжах, вузах, администрациях, библиотеках, домах культуры, сельских клубах, спортивных центрах и даже в детских садах. Специальные участки будут в стационарах больниц, домах престарелых, в СИЗО (осужденные временно лишены права голоса, но те, кто еще ждет суда в следственном изоляторе, могут проголосовать). Персональных приглашений, как на обычные выборы, в этот раз решили не делать. Все участки можно увидеть в списке по ссылке. К сожалению, районы в нём расположены не по алфавиту. Если вы хотите найти ваш участок, то проще сделать это через специальный сервис на сайте Центризбиркома. Только вводить адрес там надо очень подробно, иначе сервис не сработает, — Пермский край, город Пермь, район, а дальше уже улица, дом и квартира. Всё через запятую.
                            blockquote В Прикамье 1802 участка для голосования. Они расположены в школах, колледжах, вузах, администрациях, библиотеках, домах культуры, сельских клубах, спортивных центрах и даже в детских садах.
                            .article-slider
                                .article-slider__projector.js--article-slider__projector
                                    +article-slider__projector-item("assets/img/article_01.jpg")
                                    +article-slider__projector-item("assets/img/article_02.jpg")
                                    +article-slider__projector-item("assets/img/article_03.jpg")
                                    +article-slider__projector-item("assets/img/article_01.jpg")
                                    +article-slider__projector-item("assets/img/article_02.jpg")
                                    +article-slider__projector-item("assets/img/article_03.jpg")
                                .article-slider__nav-wrapper
                                    .article-slider__nav.js--article-slider__nav
                                        +article-slider__nav-item("assets/img/article_01.jpg")
                                        +article-slider__nav-item("assets/img/article_02.jpg")
                                        +article-slider__nav-item("assets/img/article_03.jpg")
                                        +article-slider__nav-item("assets/img/article_01.jpg")
                                        +article-slider__nav-item("assets/img/article_02.jpg")
                                        +article-slider__nav-item("assets/img/article_03.jpg")
                                    +slider-nav('article-slider__nav-arrows', 'js--article-slider__prev', 'js--article-slider__next')
                                span.article-slider__headline Открытие фонтана на эспланаде 2020 в 22:00
                            +file
                            +file       
                            ul
                                li Ненумерованный список
                                li Ненумерованный список
                                li Ненумерованный список
                            ol
                                li Нумерованный список
                                li Нумерованный список
                                li Нумерованный список
                            h1 Заголовок Н1
                            h2 Заголовок Н2
                            h3 Заголовок Н3
                            h4 Заголовок Н4
                            h5 Заголовок Н5
                            h6 Заголовок Н6
                    aside
                        +commercial-big
                        +commercial
                        +commercial
            .article-end
                .container
                    .article-end__soc
                        span Поделиться:
                        +soc-list
                    .article-end__copy
                        a(href="") Копировать ссылку
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.654" height="17.65" viewBox="0 0 17.654 17.65">
                            <g transform="translate(-996.349 -358.176)">
                                <path d="M1019.569,362.365a3.187,3.187,0,0,1-.931,2.186c-.814.823-1.621,1.653-2.458,2.453a3.089,3.089,0,0,1-3.359.717c-.256-.088-.259-.109-.072-.295,1.319-1.32,2.614-2.663,3.967-3.947a1.491,1.491,0,0,0-.01-2.327,2.54,2.54,0,0,0-.786-.6,1.373,1.373,0,0,0-1.367.214,3.275,3.275,0,0,0-.286.263l-3.943,3.942c-.2.2-.222.195-.311-.067a3.094,3.094,0,0,1,.723-3.34c.81-.846,1.646-1.667,2.482-2.486a3.158,3.158,0,0,1,4.408,0,14.679,14.679,0,0,1,1.278,1.319A3.169,3.169,0,0,1,1019.569,362.365Z" transform="translate(-5.566 0)" fill="#fff"/>
                                <path d="M1000.514,379.1a1.3,1.3,0,0,0,.99-.433q2.042-2.047,4.087-4.089c.2-.2.217-.194.307.07a3.1,3.1,0,0,1-.752,3.387c-.781.807-1.583,1.594-2.381,2.386a3.158,3.158,0,0,1-4.557-.011c-.3-.3-.608-.605-.91-.91a3.161,3.161,0,0,1,.011-4.528c.8-.8,1.587-1.61,2.4-2.394a3.1,3.1,0,0,1,3.372-.743c.257.088.257.11.068.3q-2,2-4,4a1.566,1.566,0,0,0-.511.905,1.351,1.351,0,0,0,.341,1.132c.182.2.377.394.577.579A1.268,1.268,0,0,0,1000.514,379.1Z" transform="translate(0 -5.564)" fill="#fff"/>
                                <path d="M1004.546,373.309a1.013,1.013,0,0,1,.354-.773q1.973-1.97,3.943-3.942c.644-.645,1.287-1.293,1.936-1.934a1.036,1.036,0,0,1,1.172-.207,1.065,1.065,0,0,1,.624,1,1.146,1.146,0,0,1-.374.791q-1.975,1.968-3.943,3.941c-.63.63-1.258,1.264-1.893,1.89a1.06,1.06,0,0,1-1.576-.046A1,1,0,0,1,1004.546,373.309Z" transform="translate(-3.389 -3.383)" fill="#fff"/>
                            </g>
                        </svg>

        footer
            include ./templates/footer/footer.pug