include mixins/mixins.pug

doctype html
html(lang="ru")
    head
        include ./templates/head/head.pug
    body
        header
            include ./templates/header/header.pug
        main
            include ./templates/header/post-header.pug
            .container
                +breadcrumb('Контакты')
                +page-headline('Контакты')
                .page-with-aside
                    div
                        +contacts-headline('Рекламодателю')
                        .contacts-description
                            p Газета «Нива» сегодня – это единственный информационный ресурс на территории Пермского района с 75-летней историей. Тираж издания – порядка 6000 экземпляров - позволяет охватить все территории Пермского района. Газета распространяется по подписке и в розницу, более того, «Ниву» читают не только в Пермском районе, но за его пределами — ее получают подписчики Перми и других регионов. Кроме того, газета в полном объеме представлена в Интернете, где размещаются статьи и архив газеты в формате PDF.
                        +contacts-headline('Контактные лица')
                        ul
                            +contact('Редакция')
                            +contact('Главный редактор')
                            +contact('По вопросам рекламы')
                        +contacts-headline('Режим работы')
                        .schedule
                            div
                                <svg xmlns="http://www.w3.org/2000/svg" width="18.002" height="18" viewBox="0 0 18.002 18">
                                    <g id="kFw4bB.tif" transform="translate(-1085.571 -263.769)">
                                        <g id="Сгруппировать_74" data-name="Сгруппировать 74" transform="translate(1085.571 263.769)">
                                        <path id="Контур_213" data-name="Контур 213" d="M1094.582,263.769h7.077a1.831,1.831,0,0,1,1.913,1.908q0,7.087,0,14.173a1.841,1.841,0,0,1-.787,1.585,1.914,1.914,0,0,1-1.155.335h-14.1a1.844,1.844,0,0,1-1.957-1.956q0-7.06,0-14.12a1.839,1.839,0,0,1,.914-1.674,1.858,1.858,0,0,1,1-.25Zm0,4.633h-7.84c-.236,0-.237,0-.237.236q0,5.446,0,10.891a1.543,1.543,0,0,0,.029.388,1.216,1.216,0,0,0,1.252.919c4.523,0,9.047-.005,13.569.006a1.259,1.259,0,0,0,1.289-1.3c-.023-.851-.006-1.7-.006-2.554q0-4.169,0-8.337c0-.254,0-.254-.251-.254Z" transform="translate(-1085.571 -263.769)" fill="#2d944b"/>
                                        <path id="Контур_214" data-name="Контур 214" d="M1107.011,273.872c.148,0,.3,0,.443,0a.41.41,0,0,1,.426.35,3.869,3.869,0,0,1,.008,1.041.444.444,0,0,1-.453.4c-.283.008-.567.009-.85,0a.45.45,0,0,1-.476-.433,5.109,5.109,0,0,1,0-.938.435.435,0,0,1,.478-.418h.425Z" transform="translate(-1094.063 -267.951)" fill="#2d944b"/>
                                        <path id="Контур_215" data-name="Контур 215" d="M1098.034,282.832c.154,0,.308,0,.461,0a.421.421,0,0,1,.435.385,4.339,4.339,0,0,1,0,.989.453.453,0,0,1-.473.415c-.266.006-.532.005-.8,0a.471.471,0,0,1-.519-.485c-.015-.283-.014-.567,0-.85a.451.451,0,0,1,.5-.456h.39Z" transform="translate(-1090.358 -271.659)" fill="#2d944b"/>
                                        <path id="Контур_216" data-name="Контур 216" d="M1102.511,278.353c.159,0,.319-.005.478,0a.413.413,0,0,1,.417.363,4.054,4.054,0,0,1,.006,1.024.447.447,0,0,1-.45.4q-.424.013-.85,0a.455.455,0,0,1-.484-.462,7.574,7.574,0,0,1,0-.886.447.447,0,0,1,.494-.442h.39Z" transform="translate(-1092.212 -269.805)" fill="#2d944b"/>
                                        <path id="Контур_217" data-name="Контур 217" d="M1093.568,282.832c.147,0,.295,0,.443,0a.414.414,0,0,1,.434.363,3.828,3.828,0,0,1,0,1.058.435.435,0,0,1-.424.363c-.3.014-.6.016-.9,0a.459.459,0,0,1-.452-.477c-.013-.283-.014-.567,0-.849a.451.451,0,0,1,.5-.461C1093.3,282.83,1093.432,282.832,1093.568,282.832Z" transform="translate(-1088.503 -271.659)" fill="#2d944b"/>
                                        <path id="Контур_218" data-name="Контур 218" d="M1098.058,278.352c.141,0,.283,0,.425,0a.41.41,0,0,1,.437.357,3.692,3.692,0,0,1,0,1.075.446.446,0,0,1-.45.356q-.424.014-.85,0a.462.462,0,0,1-.47-.44,4.872,4.872,0,0,1,0-.92.436.436,0,0,1,.485-.431C1097.774,278.351,1097.916,278.352,1098.058,278.352Z" transform="translate(-1090.354 -269.805)" fill="#2d944b"/>
                                        <path id="Контур_219" data-name="Контур 219" d="M1111.472,282.832c.153,0,.307,0,.46,0a.414.414,0,0,1,.433.365,3.967,3.967,0,0,1,.009,1.006.46.46,0,0,1-.489.42c-.26,0-.52.005-.779,0a.465.465,0,0,1-.516-.467,4.965,4.965,0,0,1,0-.884.434.434,0,0,1,.492-.44h.39Z" transform="translate(-1095.919 -271.659)" fill="#2d944b"/>
                                        <path id="Контур_220" data-name="Контур 220" d="M1111.473,275.661c-.135,0-.271.005-.407,0a.448.448,0,0,1-.468-.418,3.943,3.943,0,0,1,0-.988.417.417,0,0,1,.451-.383q.434-.006.867,0a.418.418,0,0,1,.449.386,4.2,4.2,0,0,1,.008.971.463.463,0,0,1-.478.433C1111.757,275.667,1111.615,275.661,1111.473,275.661Z" transform="translate(-1095.918 -267.949)" fill="#2d944b"/>
                                        <path id="Контур_221" data-name="Контур 221" d="M1089.083,278.352c.142,0,.283,0,.425,0a.427.427,0,0,1,.461.414,4.508,4.508,0,0,1,0,.954.44.44,0,0,1-.445.419q-.433.016-.867,0a.451.451,0,0,1-.469-.458,7.406,7.406,0,0,1,0-.885.452.452,0,0,1,.493-.446c.135,0,.271,0,.407,0Z" transform="translate(-1086.647 -269.805)" fill="#2d944b"/>
                                        <path id="Контур_222" data-name="Контур 222" d="M1093.568,278.351c.148,0,.3,0,.443,0a.43.43,0,0,1,.44.4,4.634,4.634,0,0,1,.009.919.472.472,0,0,1-.512.473c-.26,0-.519.005-.779,0a.478.478,0,0,1-.508-.5c-.009-.265-.009-.532,0-.8a.462.462,0,0,1,.516-.5C1093.308,278.35,1093.438,278.351,1093.568,278.351Z" transform="translate(-1088.503 -269.804)" fill="#2d944b"/>
                                        <path id="Контур_223" data-name="Контур 223" d="M1093.549,287.312c.154,0,.307,0,.46,0a.424.424,0,0,1,.438.382,4.23,4.23,0,0,1,0,.989.451.451,0,0,1-.468.418c-.271.006-.543.006-.815,0a.461.461,0,0,1-.5-.463,7.7,7.7,0,0,1,0-.885.449.449,0,0,1,.494-.443h.39Z" transform="translate(-1088.503 -273.513)" fill="#2d944b"/>
                                        <path id="Контур_224" data-name="Контур 224" d="M1107.009,280.142c-.13,0-.26,0-.389,0a.482.482,0,0,1-.517-.49,7.868,7.868,0,0,1,0-.8c.018-.356.185-.5.544-.506.259,0,.519,0,.778,0a.427.427,0,0,1,.468.408,4.384,4.384,0,0,1,0,.954.464.464,0,0,1-.48.429C1107.281,280.147,1107.145,280.142,1107.009,280.142Z" transform="translate(-1094.066 -269.804)" fill="#2d944b"/>
                                        <path id="Контур_225" data-name="Контур 225" d="M1111.5,278.352h.39a.455.455,0,0,1,.5.459c.013.277.013.554,0,.831a.48.48,0,0,1-.525.5c-.259.005-.519.005-.778,0a.467.467,0,0,1-.488-.439,4.624,4.624,0,0,1,0-.919.437.437,0,0,1,.482-.433C1111.217,278.351,1111.359,278.352,1111.5,278.352Z" transform="translate(-1095.919 -269.805)" fill="#2d944b"/>
                                        <path id="Контур_226" data-name="Контур 226" d="M1098.047,273.871c.136,0,.271,0,.407,0a.436.436,0,0,1,.482.431,4.642,4.642,0,0,1,0,.919.448.448,0,0,1-.452.435c-.294.015-.59.014-.884,0a.473.473,0,0,1-.457-.493c-.009-.265-.009-.531,0-.8a.461.461,0,0,1,.515-.5c.13,0,.26,0,.389,0Z" transform="translate(-1090.358 -267.95)" fill="#2d944b"/>
                                        <path id="Контур_227" data-name="Контур 227" d="M1107,284.624c-.129,0-.26,0-.389,0a.466.466,0,0,1-.5-.447,7.006,7.006,0,0,1,0-.9.438.438,0,0,1,.491-.443q.416,0,.832,0a.421.421,0,0,1,.454.382,3.98,3.98,0,0,1,0,1.005.448.448,0,0,1-.448.4c-.147.009-.295,0-.443,0Z" transform="translate(-1094.069 -271.659)" fill="#2d944b"/>
                                        <path id="Контур_228" data-name="Контур 228" d="M1098.042,287.31c.148,0,.3,0,.442,0a.429.429,0,0,1,.445.394,4.265,4.265,0,0,1,0,.971.448.448,0,0,1-.462.424c-.282.009-.566.009-.849,0a.475.475,0,0,1-.48-.507c-.009-.254-.01-.508,0-.761a.477.477,0,0,1,.549-.522h.354Z" transform="translate(-1090.357 -273.513)" fill="#2d944b"/>
                                        <path id="Контур_229" data-name="Контур 229" d="M1102.539,273.872c.148,0,.295,0,.442,0a.406.406,0,0,1,.423.352,3.642,3.642,0,0,1,0,1.074.437.437,0,0,1-.447.358c-.288.013-.579.015-.867,0a.469.469,0,0,1-.461-.471,7.6,7.6,0,0,1,0-.849c.019-.325.191-.468.521-.469Z" transform="translate(-1092.213 -267.951)" fill="#2d944b"/>
                                        <path id="Контур_230" data-name="Контур 230" d="M1089.078,282.831c.154,0,.307,0,.46,0a.43.43,0,0,1,.43.391,4.523,4.523,0,0,1,0,.971.448.448,0,0,1-.441.424q-.442.018-.885,0a.467.467,0,0,1-.462-.486c-.01-.271-.01-.543,0-.814a.458.458,0,0,1,.507-.486C1088.819,282.829,1088.948,282.831,1089.078,282.831Z" transform="translate(-1086.648 -271.658)" fill="#2d944b"/>
                                        <path id="Контур_231" data-name="Контур 231" d="M1089.091,287.312c.148,0,.3,0,.443,0a.421.421,0,0,1,.43.369,4.007,4.007,0,0,1,0,1.058.447.447,0,0,1-.445.361c-.289.009-.578.012-.867,0a.459.459,0,0,1-.462-.465,8.021,8.021,0,0,1,0-.867.45.45,0,0,1,.5-.457C1088.82,287.31,1088.956,287.312,1089.091,287.312Z" transform="translate(-1086.648 -273.514)" fill="#2d944b"/>
                                        <path id="Контур_232" data-name="Контур 232" d="M1102.54,282.83c.141,0,.283,0,.424,0a.427.427,0,0,1,.446.392,4.036,4.036,0,0,1,0,.988.444.444,0,0,1-.458.408c-.282.009-.566.009-.849,0a.48.48,0,0,1-.482-.506c-.009-.254-.01-.508,0-.761a.476.476,0,0,1,.547-.523h.371Z" transform="translate(-1092.212 -271.658)" fill="#2d944b"/>
                                        </g>
                                    </g>
                                </svg>
                                span График: ПН ВТ СР ЧТ ПТ с 9:00 до 18:00
                            div.oblique-line
                            div
                                span СБ ВС ВЫХОДНОЙ
                        +contacts-headline('Адрес')
                        .contacts-address
                            <svg role="presentation" xmlns="http://www.w3.org/2000/svg" width="9.1" height="13" viewBox="0 0 9.1 13"><defs><style>.geo{fill:#2d944b;}</style></defs><path class="geo" d="M12.05,3A4.547,4.547,0,0,0,7.5,7.55c0,3.412,4.55,8.45,4.55,8.45s4.55-5.037,4.55-8.45A4.547,4.547,0,0,0,12.05,3Zm0,6.175A1.625,1.625,0,1,1,13.675,7.55,1.626,1.626,0,0,1,12.05,9.175Z" transform="translate(-7.5 -3)"></path></svg>
                            address Адрес: 614506, Пермский край, Пермский район, д.Кондратово, ул.Камская, 8а
                        form(action="").contacts-form
                            img(src="assets/img/logo-niva-san-serif.png", alt="").contacts-form__logo
                            span.contacts-form__headline Вы можете оставить нам своё сообщение и мы обязательно с вами свяжемся
                            .contacts-form__two-col
                                div
                                    label.input
                                        input(type="text", name="", placeholder="Имя")
                                div
                                    label.input
                                        input(type="tel", name="", placeholder="Телефон")
                                div
                                    label.input
                                        input(type="email", name="", placeholder="E-mail")
                                div
                                    label.input
                                        input(type="text", name="", placeholder="Тема")
                            label.textarea.contacts-form__textarea
                                textarea(name="", cols="30", rows="10", placeholder="Выберите ваше сообщение")
                            label.input-check.contacts-form__input-check
                                input(type="checkbox", name="")
                                span Прочитал соглашение и согласен с политикой конфиденциальности
                            input(type="submit", value="Отправить").button.button_rounded.contacts-form__button
                        +contacts-headline('Реквизиты')
                            ul.contacts-requisites-acts
                                li
                                    div.oblique-line
                                    a(href="" download) Скачать
                                li
                                    div.oblique-line
                                    a(href="") Копировать
                        ul.requisites-list
                            +requisites-list__item('Полное наименование организации', 'Муниципальное унитарное предприятие Пермского муниципального района «Редакция газеты «Нива»')
                            +requisites-list__item('Адрес юридический', '614506,Пермский край, Пермский район, д.Кондратово, ул.Камская, 8а')
                            +requisites-list__item('ИНН', '5948030830')
                            +requisites-list__item('КПП', '594801001')
                            +requisites-list__item('ОГРН,№ и реквизиты свидетельства', '5948030830')
                            +requisites-list__item('ОКПО', '594801001')
                            +requisites-list__item('ОКОГУ', '5948030830')
                            +requisites-list__item('ОКАТО', '594801001')
                            +requisites-list__item('Наименование банка, в место(город) нахождения', '5948030830')
                            +requisites-list__item('Расчетный счет', '594801001')
                            +requisites-list__item('Корреспондентский счет', '5948030830')
                            +requisites-list__item('БИК', '594801001')
                        +contacts-headline('Карта')
                        .contacts-map
                            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4a6fa8fae793da6df145726849981217e3fe802207a839facf2180a1ad5b3dcd&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
                    aside
                        +commercial-big
                        +commercial
                        +commercial
        footer
            include ./templates/footer/footer.pug